*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 1, 77);
}

ul a {
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 15px;
}
